DEBUG=True
SECRET_KEY=defina sua chave secreta
ALLOWED_HOSTS=*
PIPENV_VENV_IN_PROJECT=1


# Banco de dados Local
DB_NAME='a definir'
DB_USER='a definir'
DB_PASS='a definir'
HOST='a definir'
PORT='a definir'